.shoot {
  width: 20px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  background-image: url("../assets/Shoot/8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
