.player {
  width: 60px;
  height: 60px;
  background-color: transparent;
  position: absolute;
  background-image: url("../assets/Ship/6b.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}
